:root {
  --color-primary: #e29a5a;

  --color-grey-light-1: #f9f5f3; /* Light background */
  --color-grey-light-2: #f2efee; /* Light lines */
  --color-grey-light-3: #d3c7c3; /* :laceholder text */
  --color-grey-dark-2: #918581; /* Lighter text */
  --color-grey-dark-1: #615551; /* Normal text */

  --bp-large: 78.15em;
  --bp-medium: 61.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  @media only screen and (max-width: var(--bp-medium)) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--color-grey-light-1);
  font-weight: 400;
  line-height: 1.6;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 120rem;
}

.left {
  width: 25rem;
}

.right {
  width: 88rem;
}

.header {
  background-color: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-left: 2rem;
  height: 8rem;
  display: block;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(80, 69, 66, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: var(--color-grey-light-3);
}

.nav {
  margin-right: 2.5rem;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__btn {
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  transform: translateY(-5px);
}

.btn {
  background-color: var(--color-primary);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.search-results {
  width: 30rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  padding: 0 2rem;
  margin-top: auto;
}

.pagination::after {
  content: "";
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.preview__link:link,
.preview__link:visited {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  transition: all 0.2s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.preview__link:hover {
  background-color: var(--color-grey-light-2);
  transform: translateY(-3px);
}

.preview__link--active {
  background-color: var(--color-grey-light-2);
}

.preview__fig {
  flex: 0 0 6rem;
  border-radius: 50%;
  overflow: hidden;
  height: 6rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}

.preview__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-grey-light-2);
  opacity: 0.4;
}

.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.preview__data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2rem;
  row-gap: 0.1rem;
  align-items: center;
}

.preview__title {
  grid-column: 1/-1;
  font-size: 1.5rem;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview__category {
  font-size: 1.1rem;
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
  font-weight: 600;
}

.btn--inline {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  background-color: var(--color-grey-light-1);
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.2rem;
}

.btn--inline:hover {
  transform: scale(1.05);
  background-color: var(--color-grey-light-2);
}

.btn--inline:focus {
  outline: none;
}

.recipe {
  padding-top: 3rem;
  background-color: var(--color-grey-light-1);
}

.recipe__fig {
  height: 29rem;
  position: relative;
  transform-origin: top;
}

.recipe__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: 0.6;
}

.recipe__img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.recipe__title {
  position: absolute;
  bottom: 0;
  transform: translate(50%, 0%);
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.95;
  text-align: center;
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-color: var(--color-primary);
}

.recipe__details {
  align-items: center;
}

.recipe__ingredients {
  padding: 4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--color-grey-light-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
  list-style: none;
}

.recipe__ingredient {
  color: var(--color-grey-dark-1);
  display: flex;
}

.recipe__icon {
  fill: var(--color-primary);
  height: 4rem;
  width: 4rem;
  margin-right: 1.1rem;
  flex: 0 0 auto;
  margin-top: -1rem;
}

.recipe__quantity {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.recipe__directions {
  background-color: var(--color-grey-light-2);
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe__directions-text {
  font-size: 1.7rem;
  text-align: justify;
  margin-bottom: 3.5rem;
  color: var(--color-grey-dark-1);
}

.recipe__publisher {
  color: var(--color-primary);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}
